.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#main_title{
  font-size: 4vw;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Cinzel', serif;
}