@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: 'Cinzel', serif;
  height: 100vh;
  background-color: #000;
  color: #fff;
}